
body {
  padding-top: 0px;
  background-color:white;

}

#box {
  margin:00px auto auto auto;
  width:500px;
  padding:50px 50px;
  background-color:white;
  overflow-wrap: break-word;
  color:black;
}

#footer {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top:20px;
  background-color:white;
  color:black;
  text-align:center;
  display:block;
}